{% extends "::plain_base.html.twig" %}

{% block title %}Check your e-mail - {{ parent() }}{% endblock title %}
{% block headline %}Check your e-mail{% endblock headline %}

{% block content %}
    <div class="well">
        {{ 'resetting.password_already_requested'|trans }}
    </div>
    <hr>
    <a href="{{ path("fos_user_security_login") }}">Sign In</a> |
    <a href="{{ path("fos_user_registration_register") }}">Register</a>
{% endblock content %}
