{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head_style %}
    {% stylesheets filter="cssrewrite,?yui_css" output="assets/css/bootstrap.css"
    'bundles/mopabootstrap/less/mopabootstrapbundle-fa.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block title %}SF Prime{% endblock %}
{% block headline %}SF Prime{% endblock headline %}
{% block footer %}
    <p>&copy; <a href="http://okulbilisim.com/" target="_blank">OkulBilişim</a> 2015</p>
{% endblock footer %}

{% block foot_script_assetic %}
    {% javascripts filter="?yui_js" output="assets/js/bootstrap.js"
    'vendor/jquery/dist/jquery.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}
